/* Logged In=True, Primary Button=False, User Menu=False

Camper Web Base Header - Desktop ≥1200
*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    height: 80px;
    margin: 0;
    /* White */
    
    background: #FFFFFF;
    
}
